  @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

  body {
      color: #fff;
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      background-color: #ee5050; 
      width:100%;
      height: 100%;
  }
  a:hover{
    color: #fff;
    text-decoration: none;
  }
  img{
    overflow: hidden;
  }
  .margin {
    margin-bottom: 150px;
  }
  .intro-para{
    line-height: 25px;
    font-size: 1.7rem;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.1px;
  }
  .homepage-ipad{
    overflow: hidden;
  }
  .homepage-ipad img{
      width: 1200px;
  }
  .vr img{
    margin-left: -248px;

  }

  .product-ss img{
    width: 60%;
    margin: auto;
  }
  .big-text{
    text-align: center;
    font-size: 6.6rem;
    font-family: 'Montserrat', sans-serif;
  }
  .big-text-next {
    margin-top: 500px;
text-align: center;
    font-size: 4.6rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
  } 
  .next-content {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.6px;
    width: 90%;
    margin: auto;
  }
  .dive{
    background: #565556;
    border:none;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .bg-1 { 
      color: #ffffff;
      padding-top: 167px;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      background: #ee5050;
  }
  .navbar-brand{
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
  }
  .navbar-nav li{
    display: inline;
    padding:10px;
    font-size: 14px;
    font-weight: bold;
  }
  .navbar-nav  li a{
    color: #fff;
    font-size: 16.6px;
    font-family: 'Montserrat', sans-serif;
  }
.left-grid {
  padding-top: 120px;
}
.left-grid h1 {
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
}
*form input field*/
.contact-detail{
  width: 60%;
  margin: auto;
}
  .group        { 
  position:relative; 
  margin-bottom:45px; 
}
input ,textarea {
  font-size:18px;
  padding:10px 10px 10px 5px;
  background: transparent;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #d0d0d0;
}
textarea{
  resize:none;
}
input:focus ,textarea:focus{ outline:none; }

/* LABEL ======================================= */
label          {
  color:#d0d0d0; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label   {
  top:-20px;
  font-size:14px;
  color:#d0d0d0;
}

  .bar    { position:relative; display:block; width:inherit; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#fff; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after{
  width:50%;
} 
/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}

.submit{
  font-size: 18px;
  padding: 20px 40px;
  background: #fff;
  color: #ee5050;
  border:none;
  font-weight: 700;
  width: 20%;
  margin: auto;
}
.submit:hover{
  background: #565565;
  color: #fff;
}
@media only screen and (max-device-width: 480px) {
.big-text-next  {
  margin-top: 100px;
}
}