@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
html,
body {
  width: 100%;
  height: 100%;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: #ff6;
  background: #000;
  overflow: hidden;
  margin: 0;
}

.starwars section {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.starwars .start {
  font-size: 200%;
  width: 14em;
  margin: -4em 0 0 -7em;
  text-align: center;
  cursor: pointer;
}
.starwars .start span {
  color: #4bd5ee;
}
.starwars .intro {
  width: 15em;
  margin: 0 0 0 -7.5em;
  font-size: 200%;
  font-weight: 400;
  color: #4bd5ee;
  opacity: 0;
  -webkit-animation: intro 5s ease-out 1s;
          animation: intro 5s ease-out 1s;
}
.starwars .logo {
  opacity: 0;
  -webkit-animation: logo 9s ease-out 7s;
          animation: logo 9s ease-out 7s;
}
.starwars .logo img {
  width: inherit;
}
.starwars .titles {
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  height: 50em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(25deg);
  transform: perspective(300px) rotateX(25deg);
}
.starwars .titles  .first{
  position: absolute;
  top: 100%;
  -webkit-animation: titles 40s linear 7s;
          animation: titles 40s linear 7s;
/*  -webkit-transform-style:preserve-3d;*/
}
.starwars .titles  .second{
  position: absolute;
  top: 100%;
  left: 20%;
  -webkit-animation: titles 40s linear 26.5s;
          animation: titles 40s linear 26.5s;
/*-webkit-transform-style:preserve-3d;*/
}
.starwars .titles  .third{
  position: absolute;
  top: 100%;
  left: 0%;
  -webkit-animation: titles 40s linear 37s;
          animation: titles 40s linear 37s;
    
/*-webkit-transform-style:preserve-3d;*/
}
.starwars .titles  .fourth{
  position: absolute;
  top: 100%;
          animation: titles 40s linear 75s;
  -webkit-animation: titles 40s linear 75s;
    
-webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(0px) rotateX(0deg);
  transform: perspective(0px) rotateX(0deg);
}
/*name duration timing-function delay iteration-count direction fill-mode play-state;*/

.starwars .titles > div > p {
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@-webkit-keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: -180%;
    opacity: 1;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: -180%;
    opacity: 1;
  }
}

br {
   display: block;
   margin: 5px 0;
}
